<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="css/employees/employeeDashboard.css" />
    <link rel="stylesheet" href="css/superAdmin/adminAndEmploy.css" />

    <!-- other styling link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

    <style>
      #search-form {
        display: flex;
        align-items: center;
        background-color: #00bcd4;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      }

      #input-search {
        flex: 1;
        padding: 8px;
        border: none;
        border-radius: 3px;
        /* background-color: #00000017; */
        color: #111;
        /* color: white; */
        outline: none;
      }

      input[type="submit"] {
        background-color: #00000017;
        border: none;
        padding: 8px 20px;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      input[type="submit"]:hover {
        background-color: #00000030;
      }

      .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }

      .pagination a {
        margin: 0 5px;
        padding: 5px 10px;
        background-color: #00bcd4;
        color: white;
        border-radius: 3px;
        text-decoration: none;
        transition: background-color 0.3s ease;
      }

      .pagination a:hover {
        background-color: #00000017;
      }
    </style>
  </head>
  <body>
    <!-- Header Navbar -->
    <nav class="navbar">
      <div class="max-width">
        <div class="menu-btn">
          <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
          <a href="#">EM<span>S</span></a>
        </div>
        <ul class="menu">
          <li>
            <a href="/admin/dashboard" class="menu-btn" aria-current="page"
              >Home</a
            >
          </li>
          <li><a href="/admin/employsList">Employees</a></li>
          <li>
            <a href="/admin/register" class="menu-btn">Add New Employee</a>
          </li>
          <li><a href="/admin/sendMail" class="menu-btn">Send Mail</a></li>
        </ul>
        <!-- <div class="profile-pic"> -->
        <img
          src="uploads/superAdminImages/<%= user.empImg %>"
          alt="<%= user.empImg %>"
          class="profile-pic"
          onclick="toggleMenu()"
        />
        <!-- <img src="arpit.jpg" class="profile-pic" onclick="toggleMenu()"> -->
        <!-- </div> -->

        <div class="sub-menu-wrap" id="subMenu">
          <div class="sub-menu">
            <div class="user-info">
              <img
                src="uploads/superAdminImages/<%= user.empImg %>"
                class="profile-pic"
              />
              <h3><%= user.name %> <br />E-Code ( <%= user.empCode %> )</h3>
            </div>
            <hr />
            <a
              href="/admin/editProfile?id=<%= user._id %>"
              class="sub-menu-link"
            >
              <i class="fa fa-user" aria-hidden="true"></i>
              <p>Edit Profile</p>
              <!-- <span>></span> -->
            </a>
            <a href="#" class="sub-menu-link">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <p><%= user.email %></p>
            </a>
            <a href="#" class="sub-menu-link">
              <i class="fas fa-mobile-alt"></i>
              <p><%= user.phone %></p>
            </a>
            <a href="#" class="sub-menu-link">
              <i class="fas fa-sign-out-alt"></i>
              <p><%= user.empJobTitle %></p>
              <!-- <span>></span> -->
            </a>
            <a href="/logout" class="sub-menu-link">
              <i class="fas fa-sign-out-alt"></i>
              <p>Logout</p>
              <!-- <span>></span> -->
            </a>
          </div>
        </div>
      </div>
    </nav>

    <!-- home/hero section -->
    <section class="home-container" id="home-container">
      <h1 class="title">Employees List</h1>

      <div class="table-container">
        <div class="table_responsive">
          <form action="" id="search-form">
            <input
              type="text"
              placeholder="Search Employees Name, Email, mobile, E-code"
              name="search"
              id="input-search"
            />
            <input type="submit" value="Search" id="search-btn" />
          </form>
          <br />

          <table>
            <thead>
              <tr>
                <th>Sl</th>
                <th>Image</th>
                <th>Name</th>
                <th>Email</th>
                <th>Employee Code</th>
                <th>Phone</th>
                <th>Job Title</th>
                <th>Role</th>
                <th>Verified</th>
                <th>Edit</th>
                <th>Lock</th>
                <th>Delete</th>
              </tr>
            </thead>

            <% if(employs.length > 0){ for(let i = 0; i < employs.length; i++){
            let count = i + 1; %>
            <tbody>
              <tr>
                <td><%= count %></td>
                <td>
                  <img
                    src="uploads/superAdminImages/<%= employs[i].empImg %>"
                    alt=""
                    id="profile-pic"
                  />
                </td>
                <td><%= employs[i].name %></td>
                <td><%= employs[i].email%></td>
                <td><%= employs[i].empCode %></td>
                <td><%= employs[i].phone %></td>
                <td><%= employs[i].empJobTitle %></td>
                <td><%= employs[i].role %></td>
                <% if(employs[i].is_varified == 0){ %>
                <td>Not Verified</td>
                <% }else{ %>
                <td>Verified</td>
                <% } %>
                <td>
                  <span class="action_btn">
                    <a href="/admin/edit-employ?id=<%= employs[i]._id %>"
                      >Edit</a
                    >
                  </span>
                </td>
                <td>
                  <span class="action_btn">
                    <a href="#">Lock</a>
                  </span>
                </td>
                <td>
                  <span class="action_btn">
                    <a href="/admin/delete-employ?id=<%= employs[i]._id %>"
                      >Delete</a
                    >
                  </span>
                </td>
              </tr>
            </tbody>
            <% } }else{ %>
            <tr>
              <td colspan="10">User Not Found</td>
            </tr>
            <% } %>
          </table>

          <br />

          <div class="pagination">
            <% for(let j = 1; j <= totalPages; j++){ %>
            <a href="?page=<%= j %>"><%= j %></a>
            <% } %>
          </div>

          <!-- <% if (currentPage > 1) { %>
            <a href="?page=<%= currentPage - 1 %>">Previous</a>
          <% } %>
          
          <%
            for (let j = 1; j <= totalPages; j++) {
          %>
            <a href="?page=<%= j %>"><%= j %></a>
          <%
            }
          %>
          
          <% if (currentPage < totalPages) { %>
            <a href="?page=<%= currentPage + 1 %>">Next</a>
          <% } %> -->
        </div>
      </div>
    </section>

    <script src="js/employees/home.js"></script>
  </body>
</html>
