<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super Admin Dashboard</title>
    <link rel="stylesheet" href="css/employees/employeeDashboard.css" />
    <link rel="stylesheet" href="css/superAdmin/adminAndEmploy.css" />

    <!-- other styling link -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  </head>
  <body>
    <!-- Header Navbar -->
    <nav class="navbar">
      <div class="max-width">
        <div class="menu-btn">
          <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
          <a href="#">EM<span>S</span></a>
        </div>
        <ul class="menu">
          <li><a href="/superAdmin/dashboard" class="menu-btn" aria-current="page">Home</a></li>
          <li><a href="/superAdmin/organisationalUnit">OU</a></li>
          <li><a href="/superAdmin/register" class="menu-btn">Add New Employee</a></li>
          <li><a href="/superAdmin/sendMail" class="menu-btn">Send Mail</a></li>
        </ul>
        <!-- <div class="profile-pic"> -->
        <img
          src="uploads/employeeImages/<%= user.empImg %>"
          alt="<%= user.empImg %>"
          class="profile-pic"
          onclick="toggleMenu()"
        />
        <!-- <img src="arpit.jpg" class="profile-pic" onclick="toggleMenu()"> -->
        <!-- </div> -->

        <div class="sub-menu-wrap" id="subMenu">
          <div class="sub-menu">
            <div class="user-info">
              <img
                src="uploads/employeeImages/<%= user.empImg %>"
                class="profile-pic"
              />
              <h3><%= user.name %> <br />E-Code ( <%= user.empCode %> )</h3>
            </div>
            <hr />
            <a href="/superAdmin/editProfile?id=<%= user._id %>" class="sub-menu-link">
              <i class="fa fa-user" aria-hidden="true"></i>
              <p>Edit Profile</p>
              <!-- <span>></span> -->
            </a>
            <a href="#" class="sub-menu-link">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <p><%= user.email %></p>
            </a>
            <a href="#" class="sub-menu-link">
              <i class="fas fa-mobile-alt"></i>
              <p><%= user.phone %></p>
            </a>
            <a href="#" class="sub-menu-link">
              <i class="fas fa-sign-out-alt"></i>
              <p><%= user.empJobTitle %></p>
              <!-- <span>></span> -->
            </a>
            <a href="/logout" class="sub-menu-link">
              <i class="fas fa-sign-out-alt"></i>
              <p>Logout</p>
              <!-- <span>></span> -->
            </a>
          </div>
        </div>
      </div>
    </nav>

    <!-- home/hero section -->
    <section class="home-container" id="home-container">
      <h1 class="title">Send Mail To All Employees</h1>

      <form action="" method="post">
        <input type="text" placeholder="Subject" name="subject">
        <br><br>
        <textarea name="message" id="" cols="30" rows="10" placeholder="Start Typing..."></textarea>
        <input type="submit" value="Send Mail To All User">
      </form>

      <% if(typeof message !== 'undefined'){ %>
        <p style="color: green;"><%= message %>&#x2713;&#x2713;</p>
      <% } %>

    </section>

    <script src="js/employees/home.js"></script>
  </body>
</html>